<div
  *ngIf="book"
  style="
    box-shadow: 0 0 10px rgba(175, 175, 175, 0.5);
    padding: 15px;
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(180px, 0.4fr));
    justify-content: center;
  "
>
  <div>
    <img
      style="min-width: 100px; max-width: 150px; max-height: 150px"
      src="{{ book.cover }}"
      onerror="this.src='https://i.pinimg.com/474x/06/a7/db/06a7db4db4ec8491ba1b1443d4f8c15a--stacked-books-stack-of-books-illustration.jpg'"
    />
  </div>

  <div style="margin-left: 20px">
    <h3>{{ book.title }}</h3>
    <p>Reviews: {{ book.reviews.length }}</p>
    <p>Rating: {{ book.rating }}</p>
    <button (click)="getBook(book.bookId); show = true">view</button>
    <button (click)="getBook(book.bookId); edit = true">edit</button>
    <app-view-book
      [book]="bookToView"
      [show]="show"
      (onChanged)="onChanged($event)"
    ></app-view-book>
  </div>
</div>

<dialog
  open
  *ngIf="bookToView && edit"
  style="
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    padding: 15px;
    width: 650px;
    position: absolute;
    top: 20%;
    max-height: 450px;
  "
>
  <div
    style="
      margin: 20px;
      box-shadow: 0 0 20px rgba(138, 138, 138, 0.5);
      padding: 20px;
      max-width: 600px;
      margin: auto;
      margin-bottom: 30px;
    "
  >
    <h3>Edit Book</h3>
    <div
      style="
        display: flex;
        grid-template-columns: repeat(auto-fill, minmax(180px, 0.4fr));
        justify-content: center;
      "
    >
      <div>
        <label>Title: </label>
        <input
          [(ngModel)]="bookToView.title"
          type="text"
          style="width: 250px"
        />

        <label>Genre: </label>
        <input
          [(ngModel)]="bookToView.genre"
          type="text"
          style="width: 250px"
        />

        <label>Author: </label>
        <input
          [(ngModel)]="bookToView.author"
          type="text"
          style="width: 250px"
        />
      </div>

      <div>
        <label>Content: </label>
        <textarea
          [(ngModel)]="bookToView.content"
          type="text"
          style="height: 100px; width: 300px"
          cols="40"
          rows="5"
        ></textarea>

        <label>Image cover: </label>
        <input
          (change)="setPhoto($event)"
          type="file"
          accept="image/*"
          style="width: 250px"
        />
      </div>
    </div>
  </div>
  <form method="dialog">
    <button (click)="this.addBook(); this.edit = false">Edit</button>
    <button (click)="this.edit = false">Close</button>
  </form>
</dialog>
